<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGAU | Painel</title>

    <link href="/painel.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar">
      <label class="col">Processo</label>
      <label class="col">Pautas</label>
      <label class="col">Candidatura</label>
      <label class="col">Informação Pública</label>
      <label
        class="col_log"
        onclick="location.href='http://localhost:3000/login';"
        >Logout</label
      >
    </div>
  </body>
</html>
