html {
    margin: 0;
  }

  .container {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(246, 245, 245);
    padding: 20px;
    border-radius: 10px;
  }

body {
  font-family: sans-serif;
  margin: 0;
}

.backgroundImg {
  width: 100%;
  min-height: 100%;
  background-image: url(https://i.ibb.co/QfDyjzd/bandeirafullhd.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.container {
  width: 20%;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(246, 245, 245);
  padding: 20px;
  border-radius: 10px;

  box-shadow: 2px 2px 4px rgba(0.2, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10%;
  font-size: 50px;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button[type='choice'] {
  background-color: #007bff;
  width: 100%;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  margin-bottom: 5px;
  margin-top: 5px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: #007bff;
}

.error {
  color: red;
  font-weight: bold;
}

