.bodySemLogin {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-image: url(https://i.ibb.co/QfDyjzd/bandeirafullhd.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.bodyComLogin {
    margin: 0;
    background-color: rgb(103, 105, 109);
}

.navbar {
display: flex;
align-items: center;
justify-content: space-around;
font-size: 25px;
height: 75px;
background-color: rgb(45, 46, 48);
}

.navbar .col {
color: grey;
}

.navbar .col:hover {
color: white;
font-weight: bold;
background-color: grey;
border: 3px solid grey;
border-radius: 10px;
}

.navbar .col_sel {
color: white;
}

.navbar .col_log {
color: red;
}

h1 {
color: white;
text-align: center;
margin-bottom: 20px;
margin-top: 5%;
font-size: 50px;
}

.informacoes {
    width: 500px;
    margin: 0 auto; /* Centers the div horizontally */
    background-color: white;
    padding: 20px; /* Added padding for spacing */
    padding-bottom: 10px;
    border-radius: 10px; /* Added rounded corners */
    list-style-type: none;
  }
  
  .informacoes ul {
    list-style-type: none;
    padding: 0;
  }
  
  .informacoes li {
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adds spacing between li elements */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px; /* Adjust font size as needed */
    cursor: pointer;
  }
  
  .informacoes li:hover {
    background-color: #f0f0f0; /* Adjust the hover background color */
  }